---
import '../styles/global.css';
import 'lenis/dist/lenis.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Basics</title>

        <link
            href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="">
        <slot />

        <script>
            // Use a static import with Astro's client directive
            import '../scripts/lenis.ts';
        </script>
    </body>
</html>
